__pycache__/
misc/
web/source_images/*
web/images/*
web/*.log
web/cert/
!web/cert/*.sh
demohub/docs/
demohub/utils/
demohub/demohub/object_detection/mmdetection/checkpoints/*
demohub/demohub/segmentation/mmsegmentation/checkpoints/*
demohub/demohub/diffusion/models/stable_diffusion/*
*.jpg
*.png
!.gitkeep
